<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="super-contenedor">
        <div class="llama"></div>

        <div class="contenedor">
            <h1>Verifica tu identidad</h1>
            <div class="text">
                <h4>Se ha enviado un código de 6 dígitos a tu correo</h4>
                <h4>Introdúcelo para verificar que eres tú</h4>
            </div>
            <form>
                <input type="text" placeholder="Ingrese el código: ######" name="codigo" id="codigo" class="form-control" >
            
                <button type="submit" class="btn" >Verificar</button>
            </form>
        </div>


   
    </div>

</body>
</html>
